{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <style>
        .welcome-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="welcome-wrapper">
        <h1>✅ Welcome to your new Symfony application on Platform.sh!</h1>

        ...
    </div>
{% endblock %}
